:root {
    --cor-principal: #3498db;
    --cor-secundaria: #2ecc71;
    --cor-fundo: #f4f4f4;
    --cor-texto: #333;
    --cor-borda: #ddd;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
}
header {
    background: var(--cor-principal);
    color: #fff;
    padding: 10px 0;
}
.logo img {
    max-width: 200px;
    margin: 0 50px;
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav-links li {
    margin: 0 35px;
    font-size: x-large;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
}
/*<<<<<<<<<<"Menu Suspenso">>>>>>>>>>*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/*<<<<<<<<<<"Home">>>>>>>>>>*/
.home-section {
    background-image: url(./img/chips-de-coches-y-electronicos-131042-1170x658.webp);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 70%;
}
.home-section h1 {
    font-size: 2.5em;
    margin: 0 50px;
    color: var(--cor-fundo);
}
.home-section p {
    font-size: 1.2em;
    margin: 20px 50px;
    color: var(--cor-fundo);
}
.home-section .btn {
    width: auto;
    background: var(--cor-secundaria);
    color: #fff;
    padding: 10px 30px;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 5px;
}
.about-section{
    padding: 50px 20px;
    text-align: center;
}
.sobre-1{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
/*<<<<<<<<<<"Nossos Serviços">>>>>>>>>>*/
.services-section {
    padding: 50px 20px;
    text-align: center;
}
.services-section h2{
    font-size: xx-large;
    margin-bottom: 20px;
}
.box-service{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
}
.service img {
    border-radius: 5%;
    width: 90%;
    height: 200px;
    margin-top: 10px;
}
.service {
    width: 300px;
    background-color: var(--cor-borda);
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5%;
}
/*<<<<<<<<<<"Descrição">>>>>>>>>>*/
.descricao {
    width: 100%;
    height: 80%;
    text-align: center;   
}
.descricao h2{
    font-size: xx-large;
    margin-bottom: 20px;
}
.desc img {
    border-radius: 5%;
    width: 100%;
    height: auto;
    margin: 20px;
}
.desc p {
    font-size: 16px;
    margin: 20px;
    color: var(--cor-texto);
}
.desc{
    max-width: 900px;
    margin: 0 auto;
    border-radius: 5%;
    border: 1px solid var(--cor-texto);
    display: flex;
}
.about-section h2{
    font-size: xx-large;
    margin-bottom: 20px;
}
/*<<<<<<<<<<"Enderço">>>>>>>>>>*/
.endereco {
    text-align: center;
    color: var(--cor-texto);
    background-color: var(--cor-principal);
}
.endereco h2 {
    font-size: xx-large;
    color: #fff;
    margin-top: 20px;
}
.endereco iframe {
    width: 90%;
    height: 400px;
    border: 0;
    margin-bottom: 20px;
}
/*<<<<<<<<<<"Contato">>>>>>>>>>*/
.contact-section {
    padding: 50px 20px;
    text-align: center;   
}
.contact-section h2{
    font-size: xx-large;
    margin-bottom: 20px;
}
.contact-section form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.btn {
    display: inline-block;
    background: var(--cor-secundaria);
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    width: 100px;
    text-decoration: none;
    border-radius: 5px;
}
/*<<<<<<<<<<"Roda Pé">>>>>>>>>>*/
footer {
    text-align: center;
    padding: 20px 0;
    background: var(--cor-principal);
    color: #fff;
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
        text-align: center;
    }
    .nav-links li {
        display: block;
        margin: 10px 0;
    }
    .menu-icon {
        display: block;
    }
}
/*<<<<<<<<<<"">>>>>>>>>>*/
/*<<<<<<<<<<"">>>>>>>>>>*/