:root { /* Definição de variáveis CSS para cores */
    --cor-principal: #3498db;
    --cor-secundaria: #2ecc71;
    --cor-fundo: #f4f4f4;
    --cor-texto: #333;
    --cor-borda: #ddd;
}
body { /* Estilos para o corpo da página */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
}
header { /* Estilos para o cabeçalho */
    background: var(--cor-principal);
    color: #fff;
    padding: 10px 0;  
}
.logo img { /* Estilos para o logotipo */
    width: 150px;
    margin: 0 30px; 
    border-radius: 5px;
}
nav { /* Estilos para a barra de navegação */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}
.nav-links { /* Estilos para a lista de navegação */
    list-style: none;
    display: flex;
    justify-content: center;
   
    
}
.nav-links li { /* Estilos para os itens da lista de navegação */
    margin: 0 35px;
    font-size: x-large;
}
.nav-links a { /* Estilos para os links de navegação */
    color: #fff;
    text-decoration: none;
}

/*<<<<<<<<<<"Menu Suspenso">>>>>>>>>>*/
.dropdown { /* Estilos para o contêiner do menu suspenso */
    position: relative;
    display: inline-block;
}
.dropdown-content { /* Estilos para o conteúdo do menu suspenso */
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {  /* Estilos para os links do menu suspenso */
    border-radius: 5px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover { /* Estilo ao passar o mouse sobre os links do menu suspenso */
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content { /* Exibe o conteúdo do menu suspenso ao passar o mouse */
    display: block;
}

/*<<<<<<<<<<"Home">>>>>>>>>>*/
.home-section { /* Estilos para a seção home */
    background-image: url(./img/chips-de-coches-y-electronicos-131042-1170x658.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 70%;
       
       
}
.home-section h1 { /* Estilos para o título na seção home */
    font-size: 2.5em;
    margin: 0 50px;
    color: var(--cor-fundo);
}
.home-section p { /* Estilos para o parágrafo na seção home */
    font-size: 1.2em;
    margin: 20px 50px;
    color: var(--cor-fundo);
}
.home-section .btn { /* Estilos para o botão na seção home */
    width: auto;
    background: var(--cor-secundaria);
    color: #fff;
    padding: 10px 30px;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 5px;
}
.about-section{ /* Estilos para a seção sobre */
    padding: 50px 20px;
    text-align: center;
}
.sobre-1{ /* Estilos para o contêiner sobre */
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/*<<<<<<<<<<"Nossos Serviços">>>>>>>>>>*/
.services-section { /* Estilos para a seção de serviços */
    padding: 50px 20px;
    text-align: center;
}
.services-section h2{ /* Estilos para o título da seção */
    font-size: xx-large;
    margin-bottom: 20px;
}
.box-service{ /* Estilos para o contêiner dos serviços */
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}
.service img { /* Estilos para as imagens dos serviços */
    border-radius: 5%;
    width: 90%;
    height: 200px;
    margin-top: 10px;
}
.service { /* Estilos para cada serviço individual */
    width: 300px;
    background-color: var(--cor-borda);
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5%;
}

/*<<<<<<<<<<"Descrição">>>>>>>>>>*/
.descricao { /* Estilos para a seção de descrição */
    width: 100%;
    height: 80%;
    text-align: center;   
}
.descricao h2{ /* Estilos para o título da seção */
    font-size: xx-large;
    margin-bottom: 20px;
}
.desc img { /* Estilos para a imagem da descrição */
    border-radius: 5%;
    width: 90%;
    height: 400px;
    margin: 20px;
}
.desc p { /* Estilos para o parágrafo da descrição */
    font-size: 16px;
    margin: 20px;
    color: var(--cor-texto);
    text-align: center;
}
.desc{ /* Estilos para o contêiner da descrição */
    margin: 0 auto;
    border-radius: 5%;
    border: 1px solid var(--cor-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-section h2{ /* Estilos para o título da seção sobre */
    font-size: xx-large;
    margin-bottom: 20px;
} 

/*<<<<<<<<<<"Enderço">>>>>>>>>>*/
.endereco { /* Estilos para a seção de endereço */
    text-align: center;
    color: var(--cor-texto);
    background-color: var(--cor-principal);
}
.endereco h2 { /* Estilos para o título da seção */
    font-size: xx-large;
    color: #fff;
    margin-top: 20px;
}
.endereco iframe { /* Estilos para o mapa incorporado */
    width: 90%;
    height: 400px;
    border: 0;
    margin-bottom: 20px;
}

/*<<<<<<<<<<"Contato">>>>>>>>>>*/
.contact-section { /* Estilos para a seção de contato */
    padding: 50px 20px;
    text-align: center;   
}
.contact-section h2{ /* Estilos para o título da seção */
    font-size: xx-large;
    margin-bottom: 20px;
}
.cont-1{ /* Estilos para o contêiner de contato */
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid var(--cor-texto);
}
.contact-section form { /* Estilos para o formulário de contato */
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: left; 
    display: flex;
    flex-direction: column;
}
.btn { /* Estilos para o botão */
    display: inline-block;
    background: var(--cor-secundaria);
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    width: 100px;
    text-decoration: none;
    border-radius: 5px;
}

/*<<<<<<<<<<"Roda Pé">>>>>>>>>>*/
footer { /* Estilos para o rodapé */
    text-align: center;
    padding: 20px 0;
    background: var(--cor-principal);
    color: #fff;
}
@media (max-width: 426px) { /* Estilos para telas menores que 426px */
    .nav-links {
        display: none;
        text-align: center;  
    }
    .nav-links li {
        display: block;
        margin: 10px 0;
    }
    .menu-icon {
        display: block;
    }
  
}
.seta{ /* Estilos para o ícone do menu */
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: xx-large;
    color: var(--cor-texto);
    cursor: pointer;
    margin: 15px;
}   
.seta a:hover { /* Estilos para o link do ícone do menu */
    color: red;
    text-decoration: none;
}
/*<<<<<<<<<<"">>>>>>>>>>*/
/*<<<<<<<<<<"">>>>>>>>>*/